In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
traffic_accidents = pd.read_csv("US_Accidents_Dec21_updated.csv")

In [ ]:
db = traffic_accidents[['ID', 'Severity', 'Start_Time', 'State']]

     ID  Severity           Start_Time State  Visibility(mi)
0   A-1         3  2016-02-08 00:37:08    OH            10.0
1   A-2         2  2016-02-08 05:56:20    OH            10.0
2   A-3         2  2016-02-08 06:15:39    OH            10.0
3   A-4         2  2016-02-08 06:51:45    OH            10.0
4   A-5         3  2016-02-08 07:53:43    OH            10.0
5   A-6         2  2016-02-08 08:16:57    OH            10.0
6   A-7         2  2016-02-08 08:15:41    OH             3.0
7   A-8         2  2016-02-08 11:51:46    OH             0.5
8   A-9         2  2016-02-08 14:19:57    OH            10.0
9  A-10         2  2016-02-08 15:16:43    OH             0.5

In [ ]:
export_csv = db.to_csv('export_csv.csv', index=None, header=True)

NameError: name 'db' is not defined